<section id="RegisterSection" class="mt-2 rounded-circle mb-5">

	<div class="container bg-dark p-5 text-light rounded-3">
		<h1 class="text-center text-decoration-underline">Register Form</h1>
		<form>

			<div class="row">
				<div class="form-group">
					<label for="username"><b>Name</b></label>
					<div class="col-md-6">
						<input class="form-control" type="text" placeholder="Enter Username" name="username">
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group">

					<label for="email"><b>Email</b></label>
					<div class="col-md-6">
						<input class="form-control" type="email" placeholder="Enter email" name="email">
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="form-group">
					<label for="password" class="col-md-1"><b>Password</b></label>
					<div class="col-md-6">
						<input class="form-control" type="password" placeholder="Enter Password" name="password">
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="form-group">

					<label for="phone"><b>Phone</b></label>
					<div class="col-md-6">
						<input class="form-control" type="text" placeholder="Enter phone" name="phone">
					</div>
				</div>

			</div>

			<button class="btn btn-danger mt-3" type="submit">Register</button>

		</form>



	</div>


</section>