<section id="RegisterSection" class="mt-2 rounded-circle mb-5">

	<div class="container bg-dark p-5 text-light rounded-3">
		<h1 class="text-center text-decoration-underline" i18n>Register Form</h1>
		<form [formGroup]="RegisterForm" (ngSubmit)="RegisterFun(RegisterForm.value)">

			<div class="row">
				<div class="form-group">
					<label for="name"><b>Name</b></label>
					<div class="col-md-6">
						<input class="form-control" type="text" placeholder="Enter name" formControlName="name">
					    <span class="badge bg-warning text-dark" *ngIf="RegisterForm.controls['name'].touched && RegisterForm.controls['name'].errors?.['required']">Write name</span>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group">

					<label for="email"><b>Email</b></label>
					<div class="col-md-6">
						<input class="form-control" type="email" placeholder="Enter email" formControlName="email">
						<span class="badge bg-warning text-dark"
							*ngIf="RegisterForm.controls['email'].touched && RegisterForm.controls['email'].errors?.['required']">Write
							email</span>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="form-group">
					<label for="password" class="col-md-1"><b>Password</b></label>
					<div class="col-md-6">
						<input class="form-control" type="password" placeholder="Enter Password"
							formControlName="password">
						<span class="badge bg-warning text-dark"
							*ngIf="RegisterForm.controls['password'].touched && RegisterForm.controls['password'].errors?.['required']">Write
							Password</span>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="form-group">

					<label for="phone"><b>Phone</b></label>
					<div class="col-md-6">
						<input class="form-control" type="text" placeholder="Enter phone" formControlName="phone">
						<span class="badge bg-warning text-dark"
							*ngIf="RegisterForm.controls['phone'].errors?.['required'] && RegisterForm.controls['phone'].touched">Write
							Phone</span>
					</div>
				</div>

			</div>

			<button class="btn btn-danger mt-3" [disabled]="!RegisterForm.valid" type="submit">Register</button>
			<span class="mx-5 badge bg-primary" *ngIf="Message">{{Message}}</span>
		</form>



	</div>


</section>