


<div [dir]="direction" >
	
	<mat-sidenav-container *ngIf="Logintrue=='1'">
	
		<mat-sidenav #side style="background-color: #3F51B5 !important;">
	
			<SideMenu-C></SideMenu-C>
	
		</mat-sidenav>
	
		<mat-sidenav-content style="height: 100vh; background-color: black;">
	
			<Header-C [Sidenav]="side" (LogoutEvent)="LogOutFun()" (langEvent)="LangChange($event)"></Header-C>
	
			<router-outlet>
	
	
			</router-outlet>
	
		</mat-sidenav-content>
	
	</mat-sidenav-container>
</div>


<div *ngIf="Logintrue=='0'" class="bg-secondary" [dir]="direction">
	<div class="d-flex align-items-center justify-content-center">

		<button class="btn btn-danger" (click)="LangChange('ar')">ar</button>
		<button class="btn btn-primary" (click)="LangChange('en')">En</button>

	</div>
	
	<Login (LoginEmitter)="LoginFun()">

	</Login>

	<Register (LoginEmitter)="LoginFun()">

	</Register>

</div>